@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

body,
h2 {
  font-family: "Roboto", sans-serif !important;
}

h2 {
  margin: 2rem 0 0 2rem;
}

.video-container {
  height: 90vh;
  position: relative;
  overflow: hidden;
}

.video {
  object-fit: cover;
}

h1 {
  font-family: "Titling Gothic FB Compressed";
}

.video {
  /* position: fixed;
  right: 0;
  bottom: 0; */
  /* min-width: 100%;
  min-height: 100%; */
}

.video {
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; */
}
