

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

body,
h2 {
  font-family: "Roboto", sans-serif !important;
  color: aliceblue;
}

h2 {
  margin: 2rem 0 0 2rem;
}

.video-container {
  height: 90vh;
  position: relative;
  overflow: hidden;
}

.video {
  object-fit: cover;
}

h1 {
  font-family: "Titling Gothic FB Compressed";
}