#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  body {
      margin: 0;
      font-family: 'Arial', sans-serif;
      background-color: #f8f6f6;
      color: #070707;
  }

  
 
 